{{#if newCityFormShowing}}
  <div>
    <form>
      <div class="form-group">
        <label for="name">Name</label>
        {{input value=name id="name"}}
      </div>      

      <div class="form-group">
        <label for="attraction">Attraction</label>
        {{input value=attraction id="attraction"}}
      </div>

      <div class="form-group">
        <label for="country">Country</label>
        {{input value=country id="country"}}
      </div>

      <button {{action 'save'}}>Save</button>
    </form>
  </div>
{{else}}
  <button {{action 'showForm'}}>New City</button>
{{/if}}